* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: lightgreen;  
    color: antiquewhite;
}

a {
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    color: antiquewhite;
}

.flex-container {
    display: flex;
    background-color: mediumseagreen;
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    align-items: center;
    margin-top: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    text-align: end;
}

.item {
    margin: 5px;
    list-style-type: none;
}

img {
    margin: 20px;
    border-radius: 50px;
}



